# Cloudflare sends only cookbook.denejko.pl to this independent origin port.
{
	admin off
	auto_https disable_redirects
}

https://cookbook.denejko.pl:8443 {
	tls internal

	encode zstd gzip
	reverse_proxy 127.0.0.1:3200
}
